{% extends 'base.html.twig' %}


{% block title %}Proveïdors
{% endblock %}

{% block body %}
	{# <style> #}
	{# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
	{# </style> #}

	<!DOCTYPE html>
	<html>
		<body>
			<h1 class="helloWorld">
				HelloWorld
			</h1>

			<ul>
				{% for supplier in suppliers %}
					<li>{{ supplier.name }}</li>
					<li>{{ supplier.email }}</li>
					<li>{{ supplier.phoneNumber }}</li>
					<li>{{ supplier.supplierType }}</li>
					<li>{{ supplier.currentDate|date('d/m/Y') }}</li>
				{% endfor %}
			</ul>
		</body>
	</html>
{% endblock %}
