{% extends 'base.html.twig' %}


{% block title %}Proveïdors
{% endblock %}

{% block body %}
	{# <style> #}
	{# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
																					    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
	{# </style> #}

	<!DOCTYPE html>
	<html>
		<body>
			<main class="layout">
				<header class="layout__header">
					<img class="header__image" src="../assets/images/ViajesParaTiLogo.png"/>
					<h1 class="header__title">
						Prueba tecnica Viajes para ti
					</h1>
				</header>
				<section class="layout__create-supplier-btn">
					<a class="create-supplier-btn__action" href="#">Crear nou proveïdor</a>
				</section>
				<table class="layout__table">
					<thead class="table__head">
						<tr class="table__row">
							<th class="head__column-option">Nom</th>
							<th class="head__column-option">email</th>
							<th class="head__column-option">Numero telèfon</th>
							<th class="head__column-option">Tipus de Proveïdor</th>
							<th class="head__column-option">És actiu</th>
							<th class="head__column-option">Data creació</th>
							<th class="head__column-option">Accions</th>
						</tr>
					</thead>
					<tbody class="table__body"></tbody>
				</tbody>
			</table>
			<ul>
				{% for supplier in suppliers %}
					<li>{{ supplier.name }}</li>
					<li>{{ supplier.email }}</li>
					<li>{{ supplier.phoneNumber }}</li>
					<li>{{ supplier.supplierType }}</li>
					<li>{{ supplier.createdAt|date('d/m/Y') }}</li>
				{% endfor %}
			</ul>

			<footer class="layout__footer">
				<div class="footer_pagination">{{ knp_pagination_render(suppliers) }}</div>
			</footer>
		</body>
	</html>
</main></body></html>{% endblock %}
